@import "init";
@import "panel";

#bg {
  position: relative;
  background: {
    image: url("../../img/bg.jpg");
    size: cover;
  }
  overflow: auto;

  .group {
    > li {
      margin-bottom: 20px;
      border-bottom: white solid 4px;
      font-size: 60px;
      color: white;

      > div {
        position: sticky;
        top: 120px;
        left: 0;
        width: 98%;
        backdrop-filter: blur(6px);
      }

      .item {
        padding-left: 16px;

        li {
          margin: 20px 0;

          &:hover {
            background-color: #68686852;
          }
        }
      }
    }
  }
}

#nav {
  position: fixed;
  top: 190px;
  right: 16px;
  background-color: #00000069;
  color: black;

  $fillet: 50px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -$fillet;
    width: 100%;
    height: $fillet;
    border-radius: 0 0 $fillet $fillet;
    background-color: inherit;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -$fillet;
    width: 100%;
    height: $fillet;
    border-radius: $fillet $fillet 0 0;
    background-color: inherit;
  }

  ul {
    padding: 0 10px;

    li {
      width: 50px;
      height: 50px;
      font-size: 40px;
      text-align: center;
      border-radius: 50%;
    }
  }
}

.mask {
  min-height: 180vh;
  background-color: rgba(251, 130, 130, 0.09);
}

#add-button {
  position: fixed;
  bottom: 5%;
  right: 12%;

  button {
    @include simple-button(70px);
  }
}

.queryBox {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;

  label {
    display: block;
    backdrop-filter: blur(4px);
    height: 120px;

    input {
      width: 100%;
      height: 120px;
      padding: 0 30px;
      border-radius: 60px;
      font-size: 60px;
      color: #ffebeb;
      background-color: rgba(0, 0, 0, 0.42);

      &:focus {
        background-color: rgba(41, 41, 41, 0.85);
      }
    }
  }

  #result {
    position: absolute;
    top: 120px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(16px);

    > li {
      margin-bottom: 30px;

      p {
        width: 100vh;
        background-color: transparent;
        color: white;

        &:first-of-type {
          padding-bottom: 6px;
          font-size: 60px;
        }

        &:last-of-type {
          font-size: 40px;
        }
      }
    }
  }
}

.message {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100px;
  min-width: 50%;
  max-width: 90%;
  border-radius: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 90px;
  z-index: 9999;
}