@import "init";

.panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.34);
  backdrop-filter: blur(16px);

  > div:nth-last-of-type(n + 2) {
    width: 900px;

    label {
      font-size: 60px;
      color: #fce0e0;

      span {
        display: block;
        margin-bottom: 20px;
        width: 180px;
        font-size: 40px;
      }

      input {
        display: inline-block;
        width: 70%;
        height: 100px;
        margin-bottom: 30px;
        padding: 0 15px;
        border: 6px solid #dcdfe6;
        border-radius: 30px;
        outline: none;
        color: #606266;
        font-size: inherit;
        line-height: 40px;
        background-color: #fff;
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

        &:focus {
          border-color: #1196ff;
        }
      }
    }
  }

  .save, .modify, .delete {
    display: none;
  }

  .phone-panel {
    position: relative;
    top: 0;
    left: 0;

    .add-phone {
      position: absolute;
      top: 76px;
      right: 5%;
      width: fit-content;

      button {
        width: 90px;
        height: 90px;
        font-size: 40px;
        background-color: #00000069;
        border: none;
        border-radius: 50%;
        outline: none;
        color: white;

        &:last-of-type {
          display: none;
        }
      }
    }
  }

  .operation-list {

    button {
      @include simple-button(60px);
    }
  }
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}