@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640074432065') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e6fa";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-zengjia:before {
  content: "\e643";
}

.icon-fanhui:before {
  content: "\e62f";
}

.icon-baocun:before {
  content: "\e646";
}

.icon-zengjia1:before {
  content: "\e629";
}

.icon-cangpeitubiao_xiugaixiugaiziliao:before {
  content: "\e625";
}

